@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Component RecentActiveUsers -->
<i>recent active Users</i>
<!-- margin:0;padding:0px 0px 6px 0px;-->
<ul>
<!-- <ul class="navbar-nav"> -->
<li>
    <a class="" style="display:contents;" asp-area=""
            asp-controller="Bookmarks" asp-action="List" asp-route-username="koelleforniadreamin" asp-route-filter="post" asp-route-page="1">koelleforniadreamin(7)</a>
    </li>
<li>
        <a class="" style="display:contents;" asp-area=""
            asp-controller="Bookmarks" asp-action="List" asp-route-username="hypetype" asp-route-filter="post" asp-route-page="1">hypetype(10)</a>
    </li>
<li>
        <a class="" style="display:contents;" asp-area=""
            asp-controller="Bookmarks" asp-action="List" asp-route-username="anliberant" asp-route-filter="post" asp-route-page="1">anliberant(6)</a>
    </li>
<li>
        <a class="" style="display:contents;" asp-area=""
            asp-controller="Bookmarks" asp-action="List" asp-route-username="charlienoir" asp-route-filter="post" asp-route-page="1">charlienoir(5)</a>
</li>
<li>
        <a class="" style="display:contents;" asp-area=""
            asp-controller="Bookmarks" asp-action="List" asp-route-username="smalltownwitch" asp-route-filter="post" asp-route-page="1">smalltownwitch(4)</a>
</li>
</ul>
