@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="menu-user_activity" style="margin-top:18px;">
    <!-- Component RecentActiveUsers -->
    <i>recent active Users</i>
    <!-- margin:0;padding:0px 0px 6px 0px;-->
    <ul style="line-height:15px;list-style-type: none;">
    <!-- <ul class="navbar-nav"> -->
    <li>
        <a class="nav-link text-dark" style="display:contents;" asp-area=""
               asp-controller="Bookmarks" asp-action="List" asp-route-username="koelleforniadreamin" asp-route-filter="post" asp-route-page="1">koelleforniadreamin(6)</a>
        </li>
    <li>
            <a class="nav-link text-dark" style="display:contents;" asp-area=""
               asp-controller="Bookmarks" asp-action="List" asp-route-username="hypetype" asp-route-filter="post" asp-route-page="1">hypetype(4)</a>
        </li>
    <li>
            <a class="nav-link text-dark" style="display:contents;" asp-area=""
               asp-controller="Bookmarks" asp-action="List" asp-route-username="anliberant" asp-route-filter="post" asp-route-page="1">anliberant(2)</a>
        </li>
    <li>
            <a class="nav-link text-dark" style="display:contents;" asp-area=""
               asp-controller="Bookmarks" asp-action="List" asp-route-username="charlienoir" asp-route-filter="post" asp-route-page="1">charlienoir(2)</a>
    </li>
    <li>
            <a class="nav-link text-dark" style="display:contents;" asp-area=""
               asp-controller="Bookmarks" asp-action="List" asp-route-username="smalltownwitch" asp-route-filter="post" asp-route-page="1">smalltownwitch(2)</a>
    </li>
    </ul>
</div>
