<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />-->
</head>
<body>
    <header>
        <div class="container">
            <table>
                <tr>
                    <td valign="top">
                        <div class="left-side">
                            <div class="">
                                <a class="nav-link" asp-area="" asp-controller="Bookmarks" asp-action="Index">
                                    <!-- <img src="https://raw.githubusercontent.com/tim-ioplus/reffffound/main/src/assets/logo.png" /> -->
                                    <img src="~/assets/logo.png" />
                                </a>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="title">
                            <h1>RE:FFFFOUND!</h1>
                            <h2>image bookmarking</h2>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div class="container">
        <table>
            <tr>
                <td style="width=150px;vertical-align: top;">
                    <div class="left-side">
                        <div id="menu-activeusers" class="">
                            <partial name="_ActiveUsersPartial"/>
                        </div>

                        <div id="menu-signin" class="">
                            <partial name="_LoginPartial" />
                        </div>
                        <div id="menu-context" class="">
                            <ul style="margin:0;padding:0;line-height:12px;list-style-type: none;">
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Screensaver">Screensaver</a></li>
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Mobile">Mobile</a></li>
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            </ul>
                        </div>

                        <div id="menu-legal" style="font-size:10px; margin-top:20px;">
                            <ul style="margin:0;padding:0;line-height:6px;list-style-type: none;">                            
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Terms">Terms of Service</a>
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="ChangeLog">Change Log</a>
                                <li class="nav-item"><a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Feed">Feed</a>
                            </ul>
                        </div>

                                            
                        <div id="menu-ads">
                            <!-- more aaads f*** yeah -->
                        </div>
                    </div>

                </td>                
                <td>
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </td>
            </tr>
        </table>
    </div>
<!-- 
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
