<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
		<div id="cookieNotice" class="" style="display:none;position:absolute;left:190px;top:0px;z-index:999;max-width:500px; height:auto;border:2px solid magenta;">
			<div class="content-wrap" style="background-color:magenta;color:#fff;padding:1px 1px 1px 5px;">Cookie Consent <span href="#" style="float:right;" onclick="acceptCookieConsent()">X</span></div>
			<div class="content-wrap" style="background:#fff;padding:5px 5px 5px 5px;">
					<span>We use cookies to enable correct functionality of our service. We do not use cookies to measure or record user interactions or to share Information with any third parties.
						By continuing to use our website, you agree to our  <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>. <a href="#" onclick="acceptCookieConsent();">Accept</a></span>
			</div>
		</div>
        <div class="container">
            <table>
                <tr>
                    <td valign="top">
                        <div class="left-side">
                            <div class="">
                                <a class="nav-link" asp-area="" asp-controller="Bookmarks" asp-action="Index">
                                    <img src="~/assets/logo.png" />
                                </a>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                        <div class="title">
							<h1>RE:FFFFOUND!</h1>
                            <h2>image bookmarking</h2>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div class="container">
        <table>
            <tr>
                <td style="width=150px;vertical-align: top;">
                    <div class="left-side">
                        <div id="menu-activeusers" class="menupartial">
							@await Component.InvokeAsync("ActiveUsers")
                        </div>
                        <div id="menu-signin" class="menupartial">
                            <partial name="_LoginPartial" />
                        </div>
                        <div id="menu-context" class="menupartial">
							<partial name="_ContextMenuPartial" />
                        </div>
                        <div id="menu-legal" class="menupartial">
							<partial name="_LegalMenuPartial" />
                        </div>                                            
                        <div id="menu-ads">
                            <!-- more aaads f*** yeah -->
                        </div>
                    </div>

                </td>                
                <td>
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </td>
            </tr>
        </table>
    </div>
<!-- 
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
	-->
	

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
	<script>

	</script>
	
</body>
</html>
