@{
    ViewData["Title"] = "RE: FFFFOUND! image bookmarking";
}

<div class="contentcontextlegal">
    <h3 class="display-4">About</h3>
	<!--<p>Maybe the site to get your daily astetic fix.</p> -->
	<p>
		reffffound is a hommage to 'ffffound', 'THE' site to get you daily astetic and inspirational fix.<br />
    </p>
	<h4>The original 'About'</h4>
	<p>
		<i>"FFFFOUND! is a web service that not only allows the users to post and share their favorite images found on the web,
			but also dynamically recommends each user’s tastes and interests for an inspirational image-bookmarking experience!!"
		</i>
		<br /><a href="https://tha.jp/90" target="_blank">The Full original FFFFOUND Description by Tha Ltd.</a>
	</p>
	<h4>The original ffffound on archive.org</h4>
	<p>
	<a href="https://web.archive.org/web/20070608114042/http://ffffound.com/">First archive.org backup from ffffound </a><br>
	<img src="~/assets/ffffound_20070608114042.png" style="width:500px; height:auto;border:1px dashed #000"/>
	</p>
	<h4>Some Reports about ffffound</h4>
	<p>
		<ul style="list-style-type:none;">
			<li><a href="https://noisydecentgraphics.typepad.com/design/2007/11/ffffound.html" target="_blank">There's a new site in town.' by Ben Terrett NoisyDecentGraphics.typepad.com</a></li>
			<li><a href="http://isntitjustdarling.blogspot.com/2009/09/ffffound.html" target="_blank">'the site get my daily aesthetic fix.' by Kristy on isntitjustdarling.blogspot.com</a></li>
			<li><a href="https://medium.com/@@dustinwilkie/a-retrospective-on-ffffound-15-years-later-b9b2181fb31b" target="_blank">'A FFFFOUND! Retrospective — 15 Years Later' by Dustin Wilkie on medium.com</a></li>
			<li><a href="https://tildes.net/~creative/17fk/remember_ffffound_are_there_any_sites_like_that_still_around" target="_blank">'Remember ffffound?' discussion on tildes.net</a></li>
			<li><a href="https://www.deviantart.com/theirison/art/FFFFOUND-201103052" target="_blank">Design by 'theirison' on deviantart<br />
					<img style="width:500px;height:auto;border:1px dashed #000" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f4193fc4-d95f-4696-bad7-4168371acd27/d3bqc3w-3f6a1e4a-dec7-40e0-b6fe-9704764e099d.jpg/v1/fit/w_742,h_1008,q_70,strp/ffffound_by_theirison_d3bqc3w-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwOCIsInBhdGgiOiJcL2ZcL2Y0MTkzZmM0LWQ5NWYtNDY5Ni1iYWQ3LTQxNjgzNzFhY2QyN1wvZDNicWMzdy0zZjZhMWU0YS1kZWM3LTQwZTAtYjZmZS05NzA0NzY0ZTA5OWQuanBnIiwid2lkdGgiOiI8PTc0MiJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2Wz0hOaJkkPxmI2PUPhBrje6xD0A8cuwCrRWXkjio6U"
			</a></li>
		</ul>
	</p>
</div>
