@{
    ViewData["Title"] = "RE: FFFFOUND! image bookmarking";
}
<div class="assets">
  <h3 class="">Change Log</h3>

	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 1.3 - 06.09.2024</h4>
			<ul class="versionbullets">
				<li>'As a user navigating the bookamrks, Id like to have more Information about the content size so its easier for me to knwo where i am and where to go next.'</li>
				<ul><li>move pagination to own Component</li></ul>
				<li>'As an user who does not know the original ffffound site, I'd like a screenshot of it to improve my idea of its history'</li>
				<ul><li>Include Screenshot in 'About page'</li></ul>
			</ul>
		</p>
	</blockquote>
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 1.2 - 04.09.2024</h4>
			<ul class="versionbullets">
				<li>on bookmark creation increase Count property for posting Users</<li>
				<li>show Updated Count on partial view 'recent Users'</li>
				<li>on admin page: the functions 'Hydrate'' and 'UpdateUsers' return to Users feed not index feed<li/>
			</ul>
		</p>
	</blockquote>	
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 1.1 - 03.09.2024</h4>
			<ul class="versionbullets">
				<li>fix recommendation links
					<ul>
						<li>recommendation appear on sidebar in global (index) and user (List) feeds</li>
						<li>0 <= n <= 3 recommmendations per post</li>
						<li>recommendations predate the recommending post</li>
						<li>each post only recommends from its own user</li>
						<li>no repeatitions on current page per user</li>
						<li>recommendations are not sorted</li>
					</ul>
				</li>
			</ul>
		</p>
	</blockquote>
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 1.0 - 26.08.2024</h4>
			<ul class="versionbullets">
				<li>encode email adress on pages: contact, flag content</li>
				<li>update content Imprint, Terms of Service</li>
				<li>fix layout on About page</li>
				<li>show cookie Banner</li>
				<li>remove aws Downtime Message</li>
			</ul>
		</p>
	</blockquote>
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 0.92 - 22.08.2024</h4>
			<ul class="versionbullets">
				<li>dynamic filling of partial View  for User Activity </li>
			</ul>
		</p>
	</blockquote>
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 0.91 - 20.08.2024</h4>
			<ul class="versionbullets">
				<li>fix style for pagination links, style for 'First' link dynamic [x]</li>
				<li>on 404 page move 'Back to List/feed' Link to bottom in pagination area [x]</li>
				<li>move app hosting to azure [x]</li>
				<li>fix sql parameter bug in Statement to Select Contextual Bookmarks [x]</li>
				<li>add temporary aws downtime Message [x]</li>
				<li>remove version log [x]</li>
			</ul>
		</p>
	</blockquote>
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 0.9 - 15.08.2024</h4>
			<ul class="versionbullets">
				<li>host database on azure</li>
				<li>fix style for pagination links, style for 'First' link dynamic</li>
				<li>on 404 page move 'Back to List/feed' Link to bottom in pagination area</li>
			<ul>
		</p>
	</blockquote>
  	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 0.8 - 13.08.2024</h4>
			<ul class="versionbullets">
			  <li>block links</li>
			  <ul>
				  <li>register: ".. is invitation based service. If you like to receive an invitation you can contact us"</li>
				  <li>login: ".. if you have received an invite, please use the direct link provided."</li>
			  </ul>
			  <li>css cleanup for menu items </li>
			  <li>for Release/Production Environment or without login hide the following Functions: Create, Edit, Delete, Hydrate</li>
			  <li>Add validation Message in Create- and Edit-View for invalid inputs</li>
			  <li>Create and use Helper Service für User/Identity Tasks</li>
			<ul>
		</p>
	</blockquote>
	<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="version">Version 0.7 - 12.08.2024</h4>
			<ul class="versionbullets">
				<li>add partial pages for Context menu, Legal menu</li>
				<li>fix sql command string bug in List statement</li>
				<li>Add Views and Functionality: Edit bookmark, Delete Bookmark, Create Bookmark and Validate Input in Data Model class</li>
				<li>fix paging with negative number for Index, List, 404</li>
				<li>implement static float menus<br />
					feed (index) for all: tile(v) [non actionable], top(t), previous(p), next (n)<br />
					list (list) for user: create (c), tile(v), top(t), previous(p), next (n)<br />
					detail: edit (e), delete (d)<br />
					adminpage: all from List page plus hydrate(h)
				</li>
				<li>for Detail View: add dynamic menu item 'Back to list' linking to indexfeed or to userlist</li>
				<li>fix broken link: 404 page to feed</li>
				<li>dont display guid on edit/delete pages</li>
			</<ul>
		</p>
	</blockquote>
		<!-- -->
	<blockquote class="bookmarkblock">
		<p class="bookmarkheader">
			<h4 class="versionwip">Version 0.65 - 07.08.2024</h4>
			<ul class="versionbullets">
			  <li>For all Database Queries use AddParameterWithValue, no stringbuilding of parameter</li>
			  <li>Fix Bug in 'Update()' Method where bookmark.Title is being overwritten with Value from bookmark.Guid</li>
			  <li>Update 'About' Page with Description, Link, Graphic</li>
			<ul>
		</p>
	</blockquote>
  <blockquote class="bookmarkblock">
    <p class="bookmarkheader">
      <h4 class="version">Version 0.6 - 06.08.2024</h4>
      <ul class="versionbullets">
            <li>Move end-of-feed Post in own View 'Error Feed-0-4'</li>
            <li>link to previous and Next/First pages of the Feed</li>
            <li>update end-of-feed View as own errror view. incl links to prev/next feed pages</li>
            <li>css: difference in blockquote position index & list</li>
            <li>css: fix txt position for current pagenum in pagination</li>
      </<ul>
    </p>
  </blockquote>
  <!-- -->
  <blockquote class="bookmarkblock">
    <p class="bookmarkheader">
      <h4 class="">Version 0.5 - 05.08.2024</h4>
      <ul class="versionbullets">
            <li> Fix layout for Info pages (ChangeLog,..) </li>
            <li>feed navigation: previous- & next- buttons without 'full-pagination'</li>
                <ul class="versionbullets">
                <li>include 'Last Post' logic to mark the end of feed</li>
                <li>add variety to Last Post to create a funny moment and communicate my crafty intentions</li>
            </ul>
            <li>connection string & credentials from appsettings.json, cleanup for gh publishing</li>
            <li>alle queries mit .AddParameterWithValue > kein stringgebaue
                * css: difference in blockquote position index & list
                * static float menu
                * feed: top(t)
                * userpage: top (t), Post(p)
                * adminpage: plus hydrate(h)</li>
        </ul>
    </p>
  </blockquote>
  <blockquote class="bookmarkblock">
      <p class="bookmarkheader">
      <h4 class="">Version 0.4 - 02.08.2024 </h4>
      <ul class="versionbullets">
        <li>fix Data write from Front End on Posts</li>
        <li>Index Feed inkl Kontextbilder</li>
        <li>Create Bookmark mit username via ViewBags</li>
        <li>incl header logo bmp</li>
        <li>fix css</li>
          <ul class="versionbullets">
          <li>use similar coloours for links</li>
          <li>font-type: chosse more 'serfic' font</li>
          <li>more subtle link styling to Flag Image Method</li>
          <li>fix blockquote position</li>
          <li>fix container position to left</li>
          </ul>
        <li>Text: fix title texts</li>
        <li>Bookmark-element in feed view: add 'Quoted from', link to url</li>
        <li>Fix timestamp bug where current minutes saved as month</li>
        <li>Testdata</li>
        <ul class="versionbullets">
          <li>load testdata from static json file and use Create()</li>
          <li>ensure timestamp and database id consistency: generate timestamp from wihtin last 3 months and overwrite timestamps</li>
        </ul>
      </ul>
      </p>
  </blockquote>
</div>
