@{
    ViewData["Title"] = "RE: FFFFOUND! image bookmarking";
}

<div class="text-center">
    <h3 class="display-4">Change Log</h3>
    <p>
      <h4 class="">Version 0.5</h4>
      <ul>
            <li style="background-color:gold;"> WHATS NEXT?! :)</li>
            <li style="background-color:lightgreen;">feed navigation: previous- & next- buttons without 'full-pagination'</li>
            <ul>
                <li style="background-color:lightgreen;">include 'Last Post' logic to mark the end of feed</li>
                <li style="background-color:lightgreen;">add variety to Last Post to create a funny moment and communicate my crafty intentions</li>
            </ul>
            <li style="background-color:lightgreen;">connection string & credentials from appsettings.json, cleanup for gh publishing</li>
            ~feed navigation: previous- & next- buttons without 'full-pagination'~~
            
        </ul>
    </p>
    <p>
        <h4 class="display-4">Version 0.4 - 02.08.2024 </h4>
        <ul>
          <li>fix Data write from Front End on Posts</li>
          <li>Index Feed inkl Kontextbilder</li>
          <li>Create Bookmark mit username via ViewBags</li>
          <li>incl header logo bmp</li>
          <li>fix css</li>
          <ul><li>a:color</li>
          <li>font-type > serifiger</li>
          <li>link zu Flag Image more subtle</li>
          <li>fix blockquote position</li>
          <li>fix container position to left</li>
          </ul>
          <li>text: fix title</li>
          <li>Bookmark-element im feed: add 'Quoted from', link to url</li>
          <li>Fix timestamp bug where current minutes saved as month</li>
          <li>Hydrate() -> testdaten Create()..</li>
          <li>Hydrate()</li>
          <li>generate timestamp from wihtin last 3 months and overwrite timestamps</li>
        </ul>
    </p>
</div>
