@{
    ViewData["Title"] = "Contact";
}

<div class="contentcontextlegal">

<h1>@ViewData["Title"]</h1>
<p>Contact us via Email <a id="contactlink" href="mailto:mail@site.tld" onclick="showContactMail()">Show EMail</a>.</p>
<p>If you like to request a user account, please include a link to your personal site whereever that is.
	Please also provide a few links or images xoud like to ost here. Thank you.
</p>
</div>
<script>
	function showContactMail() {
		var encEmail = "aGVsbG9yZWZmZmZvdW5kQGlvcGx1cy5kZQ==";
		const sendlink = document.getElementById("contactlink");
		sendlink.setAttribute("href", "mailto:".concat(atob(encEmail)));
		sendlink.innerHTML = "".concat(atob(encEmail));
	}
</script>
