@{
    ViewData["Title"] = "Copyright Infringement Notification";
}
<div class="contentcontextlegal">

<h1>@ViewData["Title"]</h1>

<p>
    To file a copyright infringement notification with us, please send an email containing the following requirements:
</p>

<ul>
	<li>EMails recipient is copyright@reffffound.com <a id="copyrightlink" onclick="showCopyrightMail()">Show EMail</a></li>
    <li>The URL on reFFFFOUND starts with http://reffffound.com/bookmarks/ of the alleged content.</li>
    <li>Identification of the copyrighted work claimed to have been infringed, including the name of the person/company/party holding the copyright, or the name of the person/company/party that has been authorized to represent the holder of the copyright.</li>
    <li>An e-mail address, under the agreement to allow FFFFOUND! service provider to disclose to the person who posted the work, as an efficient mode of contact between the parties toward settlement.</li>
    <li>A statement of faith belief that the use of the material is not authorized by the copyright owner, its agent, or the law.</li>
    <li>A statement that the information in the notification is accurate, that the claim is not deceptive or false, that the person claiming the deletion of the alleged work is the holder of the copyright, or an authorized representative with the right to act on behalf of the exclusive right.</li>
</ul>

</div>
<script>
	function showCopyrightMail()
	{
		var encEmail = "aGVsbG9yZWZmZmZvdW5kQGlvcGx1cy5kZQ==";
		const sendlink = document.getElementById("copyrightlink");
		sendlink.innerHTML = "".concat(atob(encEmail));
	}
</script>
