@{
    ViewData["Title"] = "RE: FFFFOUND! image bookmarking";
}

<div class="text-center">
    <h3 class="display-4">Mobile Apps</h3>
    <h4 class="">Foundroid - Reffffound on Android</h4>
    <p>coming sometime..</p>
    <h4 class="">IReffffound - Reffound on iOS</h4>
    <p>coming sometime..</p>
</div>
