@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="contentcontextlegal">
<h1>@ViewData["Title"]</h1>

<p>
Respecting users' privacy is important to reFFFFOUND!. Read this page to learn about personal information that reFFFFOUND! collects and how it may be used.
</p>

<h2>reFFFFOUND! Database</h2>
<p>
The e-mail address you register with reFFFFOUND! and the logs of your image-posting activity is used to calculate personalized recommendations as part of our service. We use this information in aggregate to generate statistics and other usage information. We share this information with you via your recommendation. We dont share this with other third parties.
</p>
<h2>Links to Third Party Web Sites</h2>
Our service may contain links to other websites and software. We are not responsible for the privacy practices or the content of these websites or software. Please visit the privacy policies of these third party sites in order to understand their privacy and information collection practices.</p
<h2>Disclosures Required by Law</h2>
<p>We reserve the right to disclose your personally identifiable information when we believe in good faith that an applicable law, regulation, or legal process requires it, or when we believe disclosure is necessary to protect or enforce our rights or the rights of another user.</p>
<h2>Cookies</h2>
<p>
Cookies are small text files stored by your browser on your computer when you visit a website. We use cookies to enable correct functionality of our Service.
Cookies permit us to recognize you and avoid repetitive requests for the same information. We do not use cookies to measure or record user interactions or to share Information with any third parties.
Most browsers will accept cookies until you change your browser settings to refuse them. You may change your browser's settings to refuse our cookies.
If you do so, our service functionality might be broken for you.
</p>
</div>
