@{
    ViewData["Title"] = "Terms & Conditions";
}

<h1>ViewDate["Title"]</h1>
<p>
Welcome to re:FFFFOUND! By accessing the re:FFFFOUND! website ("Site") or using the services offered by re:FFFFOUND! ("Services") you agree and acknowledge to be bound by these Terms of Service ("Terms"). If you do not agree to these Terms or to our Privacy Policy, please do not access the Site or use the Services. re:FFFFOUND! reserves the right to change these Terms at any time. We recommend that you periodically check this Site for changes.
</p>

<h2>Prohibited Uses</h2>
<p>FFFFOUND

    You may not use the FFFOUND! site and or its services to transmit any content which:
    <ul>

        <li>harasses, threatens, embarrasses or causes distress, unwanted attention or discomfort upon any other person,</li>
        <li>includes sexually explicit images or other content which is offensive or harmful to minors,</li>
        <li>includes any unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, or hateful material, including but not limited to material based on a person's race, national origin, ethnicity, religion, gender, sexual orientation, disablement or other such affiliation,</li>
        <li>impersonates any person or the appearance or voice of any person,</li>
        <li>utilizes a false name or identity or a name or identity that you are not entitled or authorized to use,</li>
        <li>contains any unsolicited advertising, promotional materials, or other forms of solicitation,</li>
        <li>contravenes any application law or government regulation,</li>
        <li>violates any operating rule, regulation, procedure, policy or guideline of re:FFFFOUND! as published on the re:FFFFOUND! website,</li>
        <li>may infringe the intellectual property rights or other rights of third parties, including trademark, copyright, trade secret, patent, publicity right, or privacy right,</li>
        <li>distributes software or other Content in violation of any license agreement.</li>

</ul>
</p>
<h2>
    No Warranty and Limitation of Liability</h2>
<p>
    re:FFFFOUND! PROVIDES THE SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. re:FFFFOUND! SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, INFORMATION ACCURACY, INTEGRATION, INTEROPERABILITY OR QUIET ENJOYMENT. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.
    <br/>
    You understand and agree that you use the Site and Services at your own discretion and risk and that you will be solely responsible for any damages that arise from such use. UNDER NO CIRCUMSTANCES SHALL FFFOUND! BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, OR ANY OTHER DAMAGES WHATSOEVER (HOWEVER ARISING, INCLUDING BY NEGLIGENCE), INCLUDING WITHOUT LIMITATION, DAMAGES RELATED TO USE, MISUSE, RELIANCE ON, INABILITY TO USE AND INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR SERVICES, DAMAGES INCURRED THROUGH ANY LINKS PROVIDED ON THE SITE AND THE NONPERFORMANCE THEREOF AND DAMAGES RESULTING FROM LOSS OF USE, SALES, DATA, GOODWILL OR PROFITS, WHETHER OR NOT FFFOUND! HAS BEEN ADVISED OF SUCH POSSIBILITY. YOUR ONLY RIGHT WITH RESPECT TO ANY DISSATISFACTION WITH THIS SITE OR SERVICES OR WITH FFFOUND! SHALL BE TO TERMINATE USE OF THIS SITE AND SERVICES. Some states do not allow the exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you.
</p>
<h2>
    Other
</h2>
<p>
re:FFFFOUND!, in its sole discretion, may terminate your membership and remove and discard any information associated with the membership without notice if re:FFFFOUND! believes that you have violated or acted inconsistently with the Terms. re:FFFFOUND! will not be liable to you for termination of your membership to the Service.
</p><p>
re:FFFFOUND!, in its sole discretion, may delete any of the images posted to the Site and remove and discard any information associated with the image without notice if re:FFFFOUND! believes that you have violated or acted inconsistently with the Terms. re:FFFFOUND! will not be liable to you for deletion of the images.
</p><p>
re:FFFFOUND! reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that re:FFFFOUND! shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
</p><p>
re:FFFFOUND! Terms of Service as noted above may be updated by us from time to time without notice to you. In addition, when using particular re:FFFFOUND! owned or operated services, you and re:FFFFOUND! shall be subject to any posted guidelines or rules applicable to such services, which may be posted from time to time.
</p>
