
<style>

</style>
<main class="main">
  <div class="content">
    <div class="left-side">
      <div>
        <img src="/assets/logo.gif" />
      </div>
      <div class="">

        <a class="" href="#" target="_blank" rel="noopener">
          <span>Top</span>
        </a>
        <br>
        <br>
        @for (item of [
          { title: 'About', link: '/about' },
          { title: 'Sign in', link: '/signin' },
          { title: 'Screensaver', link: '/screensaver' },
          { title: 'iPhone', link: '/iphone' },
          { title: 'Register', link: '/register' },
        ]; track item.title) {
          <a class="" [href]="item.link" target="_blank" rel="noopener" >
            <span>{{ item.title }}</span>
          </a><br>
        }
      </div>
      <div>
        <ul class="unordered none">
          <li><a class="" href="/privacypolicy">Privacy Policy</a></li>
          <li><a class="" href="/termsofservice">Terms of Service</a></li>
          <li><a class="" href="/contact">Contact</a></li>
          <br>
          <li><a class="" href="/changelog">Change Log</a></li>
          <li><a class="" href="/feed">Feed</a></li>
        </ul>
      </div>
      <div>
        <!-- Component RecentActiveUsers -->
        @for (item of [
          { name: 'koelleforniadreamin',link: '/user/koelleforniadreamin' ,count: '4711' },
          { name: 'anliberant',link: '/user/anliberant' ,count: '7675' },
          { name: 'smalltownwitch',link: '/user/smalltownwitch' ,count: '332' },
          { name: 'hypetype',link: '/user/hypetype' ,count: '2402' },
          { name: 'charlienoir',link: '/user/charlienoir' ,count: '513' },
          { name: 'piltdown',link: '/user/piltdown' ,count: '2870' },
          { name: 'jess',link: '/user/jess' ,count: '5993' },
          { name: 'turnheim-collette',link: '/user/turnheim-collette' ,count: '1174' }, 
          { name: 'talfad',link: '/user/talfad' ,count: '8' },
          { name: 'er-minio',link: '/user/er-minio' ,count: '890' },
          { name: 'jeffhamada',link: '/user/jeffhamada' ,count: '12020' },
          { name: 'radiostaticstar',link: '/user/radiostaticstar' ,count: '399' },
          { name: 'nacionjaguar',link: '/user/nacionjaguar' ,count: '13' },
          { name: 'brandpowder',link: '/user/brandpowder' ,count: '11817' },
          { name: 'visualaffection',link: '/user/visualaffection' ,count: '4145' },
          { name: 'mrpt',link: '/user/mrpt' ,count: '29869' },
          { name: 'newd3',link: '/user/newd3' ,count: '8551' },
          { name: 'ricin',link: '/user/ricin' ,count: '3667' },
          { name: 'peekasso',link: '/user/peekasso' ,count: '5003' },
        ]; track item.name) {
          <a class="" [href]="item.link" target="" rel="noopener" >
            <span>{{ item.name }}</span>
          </a> ({{item.count}}) <br>
        }
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="">
        <h1>{{ title }}</h1>
        <h3>{{ claim }}</h3>
      </div>
      <!--Component: Feed -->
      <div>
        
        @for (item of [
          { guid: '912wqsd45-df345643-bnghuz78-4587p4lk',
            url: 'https://i.imgur.com/rGXMMih',
            title : 'Space loop 3000',
            image : 'https://i.imgur.com/rGXMMih.jpeg',
            savedby: 20,
            timestamp: '2024-05-01 22:33:11',
            context1link: '4bb8bd26242e897e3bb16ea89f8bb7e3bab21a20',
            context1img: 'https://web.archive.org/web/20170314074430im_/http://img-thumb.ffffound.com/static-data/assets/6/4bb8bd26242e897e3bb16ea89f8bb7e3bab21a20_xs.jpg',
            context2link: '5b1413b351ea9e91d9eb3e9051e10ec3869ab4a9',
            context2img: 'https://web.archive.org/web/20170314074430im_/http://img-thumb.ffffound.com/static-data/assets/6/5b1413b351ea9e91d9eb3e9051e10ec3869ab4a9_xs.jpg',
            context3link: 'cab91343ec24444f086ac0403d8defca6747f2c7',
            context3img: 'https://web.archive.org/web/20170314074430im_/http://img-thumb.ffffound.com/static-data/assets/6/cab91343ec24444f086ac0403d8defca6747f2c7_xs.jpg',
          },
          { 
            guid: '912wqsd45-df345643-bnghuz78-4587p4lk',
            url: 'https://i.imgur.com/r0LmBKH',
            title: 'Space loop 3000 II',
            image : 'https://i.imgur.com/r0LmBKH.jpeg',
            savedby: 14,
            timestamp: '2024-05-01 22:40:23',
            context1link: '/i/4bb8bd26242e897e3bb16ea89f8bb7e3bab21a20',
            context1img: 'https://web.archive.org/web/20170314074430im_/http://img-thumb.ffffound.com/static-data/assets/6/28f749b05304812e1f8cd459c563f8425e61c5eb_xs.jpg',
            context2link: '/i/383e1d87ddbef6091ff76169c1b68e10a205cd74',
            context2img: 'https://web.archive.org/web/20170314074430im_/http://img-thumb.ffffound.com/static-data/assets/6/383e1d87ddbef6091ff76169c1b68e10a205cd74_xs.jpg',
            context3link: '/i/2ff3ced3b5da5378fcbb58f0afffb0df6a590cca',
            context3img: 'https://web.archive.org/web/20170314074430im_/http://img-thumb.ffffound.com/static-data/assets/6/2ff3ced3b5da5378fcbb58f0afffb0df6a590cca_xs.jpg',
          }
        ]; track item.title) {
          <div>
            <p>
            Quoted from: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a> <br>
            <small> {{ item.image }}<br>
            {{ item.timestamp }} &nbsp; <a href="#">saved by {{ item.savedby }} people</a>
            </small>
          </p>
          <table>
            <tr>
              <td>
                <img src="{{ item.image }}" style="width:500px;height:auto;" /><br>
                <small><a href="">FLAG THIS IMAGE</a></small>
              </td>
              <td style="vertical-align:top;">
                <a href="{{ item.context1link }}"><img src="{{ item.context1img }}" style="with:75px;height:auto;" /></a>
                <a href="{{ item.context2link }}"><img src="{{ item.context2img }}" /></a>
                <a href="{{ item.context3link }}"><img src="{{ item.context3img }}" /></a>
              </td>
            </tr>
          </table>
          <br>
        </div>
        }
      </div>

    </div>
    
    
  </div>
</main>

<router-outlet />