
<style>

</style>
<main class="main">
  <div class="content">
    <div class="left-side">
      <div>
        <a routerLink="/feed"><img src="/assets/logo.gif" /></a>
      </div>
      <div class="">

        <a class="" href="#" target="_blank" rel="noopener">
          <span>Top</span>
        </a>
        <br>
        <br>
        @for (item of [
          { title: 'About', link: '/about' },
          { title: 'Sign in', link: '/signin' },
          { title: 'Screensaver', link: '/screensaver' },
          { title: 'iPhone', link: '/iphone' },
          { title: 'Register', link: '/register' },
        ]; track item.title) {
          <a class="" [href]="item.link" target="_blank" rel="noopener" >
            <span>{{ item.title }}</span>
          </a><br>
        }
      </div>
      <div>
        <ul class="unordered none">
          <li><a class="" href="/privacypolicy">Privacy Policy</a></li>
          <li><a class="" href="/termsofservice">Terms of Service</a></li>
          <li><a class="" href="/contact">Contact</a></li>
          <br>
          <li><a class="" href="/changelog">Change Log</a></li>
          <li><a class="" href="/feed">Feed</a></li>
        </ul>
      </div>
      <div>
        <!-- Component RecentActiveUsers -->
        <user-activity-root></user-activity-root>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="">
        <h1>{{ title }}</h1>
        <h3>{{ claim }}</h3>
      </div>
      <!--Component: Feed -->
      <div>
        <!-- 
          <feed-root></feed-root>
          <findling-detail></findling-detail>
      -->
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>