<h2>{{ _username }} 's feed</h2>
<div *ngIf="findlings">
    @for (item of findlings; track item) {
      <div>
        <p>
        Quoted from: <a href="{{ item.Url }}" target="_blank">{{ item.Url }}</a> <br>
        <small> {{ item.Image }}<br>
        {{ item.Timestamp }} &nbsp; <a routerLink="{{ item.Furl }}">saved by {{ item.Savedby }} people</a>
        </small>
      </p>
      <table style="width:575px;height:auto;">
        <tr>
          <td style="width:520px;height:auto;">
            <a routerLink="{{ item.Furl }}"><img src="{{ item.Image }}" style="width:500px;height:auto;" /></a><br>
            <small><a href="">FLAG THIS IMAGE</a></small>
          </td>
          <td style="border-left:1px solid #f0f0f0;vertical-align:top;">
            <!-- SIMPLE FEED
              <a href="{{ item.context1link }}"><img src="{{ item.context1img }}" style="width:75px;height:auto;" /></a>
             <a href="{{ item.context2link }}"><img src="{{ item.context2img }}" /></a>
            <a href="{{ item.context3link }}"><img src="{{ item.context3img }}" /></a>
            -->
          </td>
        </tr>
      </table>
      <br>
    </div>
    }
</div>
<!-- @todo dynamic pageniation
  <div id="pagination">
<a (click)="NextPage(1)" routerLink="/user/{{user}}/1">1</a>, <a (click)="NextPage(2)" routerLink="/user/{{user}}/2">2</a>, <a (click)="NextPage(3)" routerLink="/user/{{user}}/3">3</a>
</div>
-->